
body{
font-family: sans-serif;
}

.banner{
  display: inline-block;
  background-color: white;
  border:black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.Kategorikort {
  border: 1px solid black;
  margin-bottom: 50px; 
  padding: 120px;
  text-align: center; 
}

.Kategorikort h3 {
  margin: 0; 
}

.anmeldelser{
  border:1px solid black;
  margin : 20px;
  padding:20px;
  text-align:left;
}

.anmeldelse-bilde {
  max-width: 150px; 
  margin-right: 10px;
}

.hundebilde.png{
  max-width: 150px;
  margin-bottom: 20px;
}
.breadcrumbs{
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline-block;
}
h3{
  display: inline;
  margin-right:  90px; 
}

.beskrivelse{
  display: inline;

}
 
  .leveringsadresse{
  max-width: 400px;
  width:100% ;
  padding: 1px solid #ddd;
  border:8px ;
 }
 h2{
  margin-bottom: 20px;
 }

 #lagre-knappen{
  display:inline-block;
  padding:10px 20px;
  background-color: #555;
  color:#fff;
  border: none;
  border-radius: 5px;
  font-weight:bold;
  text-align:center;
  }
  .h4 p{
margin:15px 0 5px;

  }
  .button2{
    background-color: #333;
    color:white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
  }

  figure {
    margin: 0;
  }

  .banner {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  section nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

  }

  section nav button {
    background: white;
    border: 1px solid #000;
    width: 30%;
    height: 40px;
    margin: 0;
  }

.logo {
  font-size: 30px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}